{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">

<div class="topnav" id="myTopnav">
    <img src="{% static 'images/logo.jpg' %}" alt="img">
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
    <a href="" id="post-tuition"> Post A tuition &#8680 </a>
    <a href="" >Login</a>
    <a href="" >Profile</a>
    <a href="" >Register</a>
    <a href="" >Find Tuition</a>
    <a href="" >Find Teacher</a>
    <a href="" >Become Teacher</a> 
</div>