<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Tuitions.css' %}">
    <title>Profile</title>
</head>

<body>

    <!-- {% include 'Home/navbar.html'%} -->
    <div class="profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="userinfo">
                        <div class="heading">
                            <a style="float: right; color: white;">Edit</a>
                        </div>
                        <img src="photo.jpg" alt="">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Name:</td>
                                    <td>{{user.Full_name}}</td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td>{{user.email}}</td>
                                </tr>
                                <tr>
                                    <td>Mobile:</td>
                                    <td>{{user.phone_number}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="">Become Teacher</a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="creditinfo">
                        <div class="row ">
                            <div class="col-lg-6 col-md-6">
                                <div class="credit">
                                    <h3>Balance Credit</h3>
                                    <h1>{{user.credit_points}}</h1>
                                    <p></p>
                                </div>
                            </div>
                            <!-- <div class="col-lg-6  col-md-6">
                                <div class="credit">
                                    <h3>Total used</h3>
                                    <h1>5</h1>
                                    <p></p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="buy">
                                <a href="">Buy Credit</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Your Post
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <h1>Body of your post</h1>
                                    <div>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <td>Posted Date</td>
                                                    <td>Student Name</td>
                                                    <td>Subject</td>
                                                    <td>Courses</td>
                                                    <td>Description</td>
                                                    <td>Contact</td>
                                                    <td>Status</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for t in T %}
                                                <tr>
                                                    <td>{{t.posted_date}}</td>
                                                    <td>{{t.student_name}}</td>
                                                    <td>{{t.courses}}</td>
                                                    <td>{{t.subject}}</td>
                                                    <td>{{t.description}}</td>
                                                    <td>{{t.phone_number}}</td>
                                                    {% if t.status%}
                                                    <td><a href="/tuition/change_status?tuition_id={{t.id}}">Not
                                                            Found/click to change</a></td>
                                                    {%else%}
                                                    <td><a href="/tuition/change_status?tuition_id={{t.id}}">Found/click
                                                            to change</a></td>
                                                    {%endif%}
                                                </tr>
                                                {% endfor %}
                                                <!-- <tr>
                                                    <td>jan 20 2023</td>
                                                    <td>Vishal kumar</td>
                                                    <td>java</td>
                                                    <td>Java spring boot</td>
                                                    <td>desctiprion of java spring boot</td>
                                                    <td>1645465+</td>
                                                    <td>Found</td>
                                                </tr> -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Tuition You Unlocked
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <h1>Body of tuition unlock</h1>
                                    {% for t in UT %}
                                    <div class="tution_body">
                                        <div class="tution_body_head">
                                            <div class="tb_inner">
                                                <h2> &#x1F393 {{ t.Tuition_id.course }}</h2>
                                            </div>
                                            <div class="tb_inner">
                                                <h2> &#x1F4D6 {{t.Tuition_id.subject}} </h2>
                                            </div>
                                            <div class="tb_inner">
                                                <h2><i class="material-icons" style="font-size:20px">place</i> Bangalore
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="tution_body_content">
                                            <div class="tb_neck">
                                                <div class="tb_neck_inner">
                                                    <p><b>Posted on: {{t.Tuition_id.posted_date}}</b></p>
                                                </div>
                                                <div class="tb_neck_inner">
                                                    <p><b>Fee: {{t.Tuition_id.fee}} /Hr</b></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table_info">
                                            <table>
                                                <tr>
                                                    <td>Posted By:</td>
                                                    <td>{{t.Tuition_id.student_name}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Locality:</td>
                                                    <td>{{t.Tuition_id.locality}} </td>
                                                </tr>
                                                <tr>
                                                    <td>Pin Code:</td>
                                                    <td>{{t.Tuition_id.pincode}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Teaching Mode:</td>
                                                    <td>{{t.Tuition_id.teaching_mode}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="view-details">
                                            <button>Contact {{t.Tuition_id.phone_number}}</button>
                                        </div>
                                        <div class="description">
                                            <p><b>
                                                    Description:{{t.Tuition_id.description}}
                                                </b>
                                            </p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Teacher You Unlocked
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <h1>teacher ublock</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>