{% extends "../Home/index.html" %}

{% block title %}Teacher{% endblock title %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
<div class="formcontainer">
    <form onsubmit="return validateForm(['location','qualification','experience','age','fee','pincode','about','gender'],'error')" action="{% url 'teacher:teacher_page2' %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-5 forms">
                <div>
                    <label for="">Location</label>
                    <input type="text" name="location" class="midinput">
                    <label for="">Qualification</label>
                    <input type="text" name="qualification" class="midinput">
                    <label for="">Experience</label>
                    <input type="number" name="experience" class="midinput">
                    <label for="">Age</label>
                    <input type="number" name="age" class="midinput">
                    <label for="">Fee</label>
                    <input type="number" name="fee" class="midinput">
                    <label for="">Pincode</label>
                    <input type="number" name="pincode" class="midinput">
                    <label for="">About</label>
                    <textarea class="form-control" name="about" rows="3"></textarea>
                    <br>

                    <label for="">Gender :</label>
                    <label for="">Male</label>
                    <input type="radio" class="form-check-input" value='Male' name="gender">
                    <label for="">Female</label>
                    <input type="radio" class="form-check-input" value='Female' name="gender"> <br>
                    <div class="row justify-content-around">
                        <div class="col-lg-12">
                            <input type="submit" class="submitbutton" value="Final submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}