

{% extends "../Home/index.html" %}

{% block title %}Teacher{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <div class="formcontainer">
        <form action="{% url 'teacher:teacher_page1' %}" method="post">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-md-5 forms">
                    <div>
                        <label for=""> Name</label>
                        <input type="text" name="teacher_name" class="midinput">
                        <label for="">Subject</label>
                        <input type="text" name="teacher_subject" class="midinput">
                        <label for="">Class</label>
                        <input type="text" name="teacher_class" class="midinput">

                        <br>

                        <label for="">Mode Of Teaching :</label><br>
                        <label for="">Online</label>
                        <input type="radio" class="form-check-input" value='online' name="teacher_mode">
                        <label for="">Offline</label>
                        <input type="radio" class="form-check-input" value='offline' name="teacher_mode">
                        <label for="">Both</label>
                        <input type="radio" class="form-check-input" value='both' name="teacher_mode">


                        <div class="row justify-content-around">
                            <div class="col-lg-12">
                                <input type="submit" class="submitbutton" value="Become Teacher">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endblock content %}