<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include 'Home/navbar.html'%}
    <form action="/teacher/teacher_page1" method="post">
        {%csrf_token%}
        <input type="text" name="name" placeholder="name">
        <input type="text" name="subject" placeholder="subject">
        <input type="text" name="class" placeholder="class">
        online
        <input type="radio" name="mode" value="online">
        offline
        <input type="radio" name="mode" value="offline">
        both
        <input type="radio" name="mode" value="both">
        <input type="submit" value="Become Teacher">

    </form>
</body>

</html>