
.forms{
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
    /* color: white; */
    background-color:  var(--Fade);

    font-size: 20px;
    font-weight: 600;
    box-shadow: 5px 10px 10px gray;
    /* border: 2px solid var(--Dark); */
}

.formcontainer{
    margin: auto;
}


