

.userinfo{
    border: 2px solid var(--Dark);
    padding: 10px;
    border-radius: 2px;
}

.profile{
    margin: 2px;
    padding: 2px;
}

.userinfo a, .buy a{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: var(--Dark);
    color: white;
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
}


.userinfo img{
height: 150px;
width: 150px;
border-radius: 50%;
margin: auto;
display: block;
padding: 4px;

}


.creditinfo{
    padding: 10px;
    margin: 10px;
}

.credit{
    box-shadow: 5px 5px 10px gray;
    padding: 5px;
    text-align: center;
    color: var(--Dark);
}


.tableheading{
border: 2px solid var(--Light);
border-radius: 5px;
color: var(--Dark);

}
.tabledata{
    margin: 2px;
    padding: 2px;
}