{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">

<div>
    <div class="cont">
        <form action="">
            <div class="row justify-content-around">
                <div class="col-md-5 forms">
                    <label for="">Student Name</label>
                    <input type="text" class="midinput">
                    <label for="">Phone Number</label>
                    <input type="text" class="midinput">
                    <label for="">Courses</label>
                    <input type="text" class="midinput">
                    <label for="">Subject</label>
                    <input type="text" class="midinput">
                    <br>

                    <label for="">Mode Of Study :</label>
                    <label for="">Online</label>
                    <input type="radio" class="form-check-input" name="mode" id="">
                    <label for="">Offline</label>
                    <input type="radio" class="form-check-input" name="mode" id=""> <br>

                    <br>
                    <label for="">Description</label>
                    <textarea class="form-control" rows="3"></textarea>
                    <div style="margin-top: 10px;" class="row justify-content-around">
                        <div class="col-lg-11">
                            <input class="largebutton" type="submit" value="Get Free Demo Class" />
                        </div>

                    </div>
                </div>
                <div class="col-md-5  forms ">
                    <label for="">Your Name</label>
                    <input type="text" class="midinput">
                    <br>
                    <label for="">Teaching Mode :</label>
                    <label for="">Online</label>
                    <input type="radio" class="form-check-input" name="mode" id="">
                    <label for="">Offline</label>
                    <input type="radio" class="form-check-input" name="mode" id="">
                    <label for="">Both</label>
                    <input type="radio" class="form-check-input" name="mode" id=""> <br>
                    <br>
                    <label for="">Subject</label>
                    <input type="text" class="midinput">
                    <label for="">Class</label>
                    <input type="text" class="midinput">
                    <div style="margin-top: 10px;" class="row justify-content-around">
                        <div class="col-lg-11">
                            <input class="largebutton" type="submit" value="Become Teacher">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>