{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% include 'Home/navbar.html'%}

<div class="outer">
    <div class="innerform">
        <div class="row align-items-center justify-content-lg-start">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="lefthalf">

                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="righthalf">
                    <label for="Enter OTP">Enter OTP</label>
                    <input class="midinput" type="text">
                </div>
                

            </div>
        </div>
    </div>
</div>
{% include 'Home/footer.html'%}