{% extends "../Home/index.html" %}

{% block title %}Registration{% endblock title %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
<div class="cont">
    <div class="row justify-content-around">
        <div class="col-md-6 forms ">
            <form action="{% url 'usermanager:registration' %}" method="post">
                {% csrf_token %}
                <label for="">Full Name</label>
                <input type="text" class="midinput" name="full_name">
                <label for="">Phone Number</label>
                <input type="text" class="midinput" name="phone_number">
                <label for="">Email</label>
                <input type="text" class="midinput" name="email">
                <p style="color: red;">{{error}}</p>
                
                <div class="row justify-content-md-center">
                    <div class="col-md-10 align-self-end">
                        <input class="largebutton" type="submit" value="Get OTP">
                    </div>
                   
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}