<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/payment.css' %}">
    <title>Payment</title>
</head>

<body>
    {% include 'Home/navbar.html'%}
    <h1>New plan</h1>

    <div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <h1><b> Silver </b></h1>
                    <h4><span style='font-size:30px;'>&#10004;</span> 10 Credit</h4>
                    <button onclick="getDetails(1)" class="submitbutton">500</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h1><b> Gold </b></h1>
                    <h4><span style='font-size:30px;'>&#10004;</span> 10 Credit</h4>
                    <button onclick="getDetails(2)" class="submitbutton">800</button>
                </div>

            </div>
        </div>
    </div>
    <script>
        function getDetails(plan) {
            console.log(plan)
            fetch("/payment/orderdetails?plan=" + plan)
                .then((response) => response.json())
                .then(context => {
                    console.table(context)
                    if (context.name == "none") {
                        console.log("name is none")
                        window.location.href = "/usermanager/login";
                    }
                    else {
                        let rzp1 = new Razorpay(context)
                        rzp1.open()
                    }
                });
        }

    </script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</body>

</html>