
.forms{
    border-radius: 2px;
    margin: 2px;
    padding: 10px;
    color: black;
    background-color: rgb(141,197,227);
    font-size: 20px;
    font-weight: 600;
    box-shadow: 5px 10px 50px gray;

}


