
.forms{
    border-radius: 2px;
    margin: 2px;
    padding: 10px;
    color: white;
    background-color: var(--Dark);
    font-size: 20px;
    font-weight: 600;
    box-shadow: 5px 10px 10px gray;

}


