{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
<div class="formcontainer">
    <form action="{% url 'tuition:post_tuition_page1' %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-5 forms">
                <div>
                    <label for="">Student Name</label>
                    <input type="text" name="student_name" class="midinput">
                    <label for="">Phone Number</label>
                    <input type="text" name="student_phone_number" class="midinput">
                    <label for="">Courses</label>
                    <input type="text" name="course" class="midinput">
                    <label for="">Subject</label>
                    <input type="text" name="subject" class="midinput">
                    <br>

                    <label for="">Mode Of Study :</label>
                    <label for="">Online</label>
                    <input type="radio" class="form-check-input" value='online' name="mode">
                    <label for="">Offline</label>
                    <input type="radio" class="form-check-input" value='offline' name="mode"> <br>
                    <label for="">Both</label>
                    <input type="radio" class="form-check-input" value='both' name="mode"> <br>

                    <br>
                    <label for="">Fee: (per hour)</label>
                    <input type="text" class="midinput" name="fee">
                    <br>
                    <label for="">Description</label>
                    <textarea class="form-control" name="description" rows="3"></textarea>
                    <br/>
                    <div class="row justify-content-around">
                        <div class="col-lg-12">
                            <input type="submit" class="submitbutton" value="Get Free Demo Class">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>