
{% extends "../Home/index.html" %}

{% block title %}Tuition{% endblock title %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Tuitions.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div class="row justify-content-md-center">
        {% for t in tuitions %}
        <div class="col-lg-6 col-md-6">
            <div class="tution_body">
                <div class="tution_body_head">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-s-4">
                            <div class="tb_inner">
                                <h5> &#x1F393 {{ t.course }}</h5>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4  col-s-4">
                            <div class="tb_inner">
                                <h5> &#x1F4D6 {{t.subject}} </h5>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-s-4">
                            <div class="tb_inner">
                                <h5><i class="material-icons" style="font-size:20px">place</i> Bangalore</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tution_body_content">
                    <div class="row justify-content-around">
                        <div class="col-lg-4 col-md-4 col-s-4">
                            <div class="tb_neck_inner">
                                <p><b>Posted on: {{t.posted_date}}</b></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-s-4">
                            <div class="tb_neck_inner">
                                <p><b>Fee: {{t.fee}} /Hr</b></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-s-4">
                            <div class="tb_neck_inner">
                                <p><b>View: {{t.unlocks}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if t.verify %}
                <div class="verify">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" 
                    style="color:rgb(64, 12, 107);"
                     fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                        <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                        
                      </svg>
                   
                </div>   
                {% endif %}
                <div class="table_info">
                    <table>
                        <tr>
                            <td>Posted By:</td>
                            <td>{{t.student_name}}</td>
                        </tr>
                        <tr>
                            <td>Locality:</td>
                            <td>{{t.locality}} </td>
                        </tr>
                        <tr>
                            <td>Pin Code:</td>
                            <td>{{t.pincode}}</td>
                        </tr>
                        <tr>
                            <td>Teaching Mode:</td>
                            <td>{{t.teaching_mode}}</td>
                        </tr>
                    </table>
                </div>
                <div class="view-details">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 col-md-3 col-s-3">
                            <button class="darksmallbutton"><a href="/tuition/unlock_tuition?tuition_id={{t.id}}">View
                                    Contact</a></button>
                        </div>
                    </div>
                </div>
                <div class="description">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-s-10">
                            <p>
                                <b>
                                    Description:{{t.description}}
                                </b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<{% endblock content %}